header{
  overflow: hidden;
  background-color: #083643;

}
header h1 {
  color:#CEF09D;

}
header li a {
  text-decoration: none;
  color:#CEF09D;
}
.btn-primary {
  background-color: #CEF09D;
}
.float-right{
  float:right;
}
.float-left{
  float:left;
}

footer {
  background-color: #083643;
}
footer a {
  text-decoration: none;
  color: #CEF09D;
}

.imagen{
  max-width: 20vw;
}
.bordes{
  border: 1px solid white;
}

#total{
  
  border: 1px solid #083643;
  color: #083643;
  background-color: #EAE8E8;
}
.fondoAzul{
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #083643;
}
