header{
  overflow: hidden;
  background-color: #083643;
  border-radius:
}
header h1 {
  color:#CEF09D;

}
header li a {
  text-decoration: none;
  color:#CEF09D;
}
body{
  font-family: 'Roboto', sans-serif;
}
.btn-primary{
  color: white;
  background-color: ##007bff;
  border-color: #black;
}
.seccion{
  background-color: #dee2e6;
}
<<<<<<< Updated upstream
footer a {
 text-decoration: none;
 color: #CEF09D;
}

/* login.html*/

.containerPrincipal{
 width: 100%;
 height: 100%;
 background-color: #B8ECD7;
 margin-left: 5px;
 margin-right: 5px;

=======
.container{
 /* height: 100%; */
 background-color: #dee2e6;
>>>>>>> Stashed changes
}
 .login_page{
     height:80%;

     text-align: center;
     margin-top:5px;

           }
.login_container .logo{
  width: 1px;
  height: 1px;
 }

.usuario-datos{
  width: 30%;
  margin-left: 35%;
}

.pass-datos{
  width: 30%;
  margin-left: 35%;
}

#forgotten-password:focus {
  color: blue;
}
#forgotten-password {
  text-decoration: underline;
}

#iniciosecion{
  margin-bottom: 15px;
}
#exampleInputEmail1{
 text-align: left;
}

#exampleInputPassword1{
text-align: left;
}

.nav-link.text-center{
  color: #1dff07;
}
.carousel-inner{
  height: 200px;
}
.carousel-control-prev{
background-color: #f8f9fa;
opacity:5%;
}
.carousel-control-next{
background-color: #f8f9fa;
}

footer {
  background-color: #083643;

}
footer a {
 text-decoration: none;
 color: #CEF09D;
}
