
h3{
  padding: 10px;
  /* border:1px solid black; */
  text-align: center;
}
body{
overflow-x: hidden;
font-family: 'Roboto', sans-serif;
}
  .col{

    text-align: center;
  }
#perfil{
  max-width: 100px;
}
a {
  text-decoration: none;
}
  .gb-my-account-user-close{
    text-align: center;
  }

  .tutorials-container,
  .ads-container {
  	background: #fff;

  }

.tutorial{

  background-color: #fff;
  padding: 10px;
	color:black;
}
.btn-primary{
  background-color: black;

   color: white;
}

.container-column-right{
  border: 1px solid grey;
  padding: 10px;

}
.field-group{
  padding: 10px;
  border:1px solid black;
}
.gb-my-account-db-recents{
  background-color: #dee2e6;
  text-align: center;
  border: 2px solid black;
  padding: 10px;
}
.gb-my-account-module{
  background-color: #fff;
  padding: 10px;
  text-align: center;

}

.gb-my-account-user-letters{
  text-align: center;
}
