@media (min-width: 800px) {
	.form{
	margin-left: 25%;
	}
 }

header{
  overflow: hidden;
  background-color: #083643;
  border-radius:
}
header h1 {
  color:#CEF09D;

}
header li a {
  text-decoration: none;
  color:#CEF09D;
}
body{
	font-family: 'Roboto', sans-serif;
}
.btn-primary{
  color: white;
  background-color: #18BC9C;
  border-color: #18BC9C;
}

.container{
 background-color: #dee2e6;
 padding-top: 20px;

}
form{
  max-width: 600px;
  min-width: 300px;

}
.numeros_contacto{
  background-color: #ffc107;
  box-sizing: border-box;
  padding-top: 20px;
  margin-top: 20px;
  }

nav-itemcol-xs-12col-md-6col-lg-3.p{
    margin-left: 10px;
}

footer {
  background-color: #083643;
}
footer a {
 text-decoration: none;
 color: #CEF09D;
}
